header {
    background-color: chocolate;
    width: 98%; /*width de 98 debido a que padding por cada lado 1% en total 100%*/
    margin: auto; /*auto para centrar*/
    padding: 1%;
    margin-bottom: 14px;
}

header h1 {
    color: black;
    font-size: 300%;  
}

nav{
    background-color: chocolate;
    font-size: 300%;  
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

nav a{
    color: white;
    text-shadow: 2px 2px 2px; /*Sombreado del texto*/
    text-decoration: none;
}

nav ul li{
    display: inline; /*Juntarlos en una linea y no uno encima del otro*/
}

ul {
  overflow: hidden;
}

li a:hover { /*hover=al pasar el ratón se visualiza una caja*/
  background-color:black;
}

body{
    /*background-image: url(IMAGENES/photo-1683871268982-a19153dbb35d.jpg);*/
    background-size: cover; /*Escalar la inágen*/
    background-repeat: no-repeat; /*Para no repetir la imágen*/
}

body,h2{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: chocolate;
}

section{
    background-color: chocolate;
    font-size: 36px;
    text-align: justify; /*texto bien alineado, justificado*/
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width:60%;
    margin-bottom: 3%;   
}

h2{
    font-size:50px;
}

aside{
    background-color: chocolate;
    width:30%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 25px; 
}    

footer{
    background-color: chocolate;
    clear:both; /*Saltará a otra línea, no se ubica a la derecha*/
    width:95%; 
    padding:2%;
    position: fixed; /*Para dejarlo fijado en todo*/
    bottom: 0%;
}

.ubi{
    width: 2%;
}   

.Etiquetas {
    padding-left: 2%;
    width: 200%;
    height: auto;
}

@media (max-width:800px){
    nav{
        display: flex;
        font-size: 200%;
    }
    nav a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
