header {
    background-color: chocolate;
    width: 98%; /*width de 98 debido a que padding por cada lado 1% en total 100%*/
    margin: auto; /*auto para centrar*/
    padding: 1%;
    margin-bottom: 14px;
    
}

header h1 {
    text-align: center;
    color: black;
    font-size: 300%;  
}

nav{
    background-color: chocolate;
    font-size: 300%;  
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

nav a{
    color: white;
    text-shadow: 2px 2px 2px; /*Sombreado del texto*/
    text-decoration: none;
}

nav ul li{
    display: inline; /*Juntarlos en una linea y no uno encima del otro*/
}

ul {
    overflow: hidden;
}



li a:hover { /*hover=al pasar el ratón se visualiza una caja*/
    background-color:black;
}

header h1 {
    color: black;
    font-size: 300%;  
}
header {
    background-color: chocolate;
    width: 98%; /*width de 98 debido a que padding por cada lado 1% en total 100%*/
    margin: auto; /*auto para centrar*/
    padding: 1%;
    margin-bottom: 14px;
}
body{
    background-color:  rgb(235, 167, 119);
}

#ubi{
    width: 4%;
}       
footer {
    background-color: chocolate;
    clear: both; /* Asegura que el footer esté debajo de los elementos flotantes */
    width: 95%;
    padding: 2%;
    position: relative; /* O simplemente elimina la línea de 'position' */
    margin-top: 250px; /* O ajusta según sea necesario */
}


.ubi{
    width: 2%;
}   

.Etiquetas {
    padding-left: 0.5%;
}

.buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

.buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.buttons .reset {
    background-color: #dc3545; /* Rojo para diferenciarlo del botón de envío */
    color: white;

}

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;

    
}

@media (max-width:800px){
    nav{
        display: flex;
        font-size: 200%;
    }
    nav a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boton{
        margin-bottom: 15% ;
    }
    footer{ 
        background-color: chocolate;
        clear:both; /*Saltará a otra línea, no se ubica a la derecha*/
        width:95%; 
        padding:2%;
        position: fixed; /*Para dejarlo fijado en todo*/
        bottom: 0%;
    }
}