
body{
    background-color: burlywood;
}
.ubi{
    width: 2%;
}       
footer{
    
    clear:both;
    width:100%; 

}
nav{
    background-color: chocolate;
    font-size: 200%;  
}

nav a{
    color: white;
    text-shadow: 2px 2px 2px; /*Sombreado del texto*/
    text-decoration: none;
}

nav ul li{
    display: inline; /*Juntarlos en una linea y no uno encima del otro*/
}

ul {
  overflow: hidden;
}
   
li {
  float: left;
  margin-left: 7%;
  padding: 16px;
}

li a:hover { /*hover=al pasar el ratón se visualiza una caja*/
  background-color:black;
}

header h1 {
    color: black;
    font-size: 300%;  
}
header {
    background-color: chocolate;
    width: 98%; /*width de 98 debido a que padding por cada lado 1% en total 100%*/
    margin: auto; /*auto para centrar*/
    padding: 1%;
    margin-bottom: 14px;
}
div{
   display: inline;
}

article{
    clear: both;
}
.myf{
    display: grid;
    grid-template-columns:auto auto ;  
    
}
.mapaint{
    display: grid;
}
.LOGOMDR {
    display: grid;
    width: 40%; /* El tamaño en relación con el contenedor */
    height:80%;
    margin-left: 55%;
    transition: transform 0.5s ease-in-out;
}
footer{
    background-color: chocolate;
    clear:both; /*Saltará a otra línea, no se ubica a la derecha*/
    width:98%; 
    padding:1%;
    position: fixed; /*Para dejarlo fijado en todo momento*/
    bottom: 0%;
}
.Etiquetas {
    padding-left: 2%;
}
.ubicación{
    margin-bottom: 5%;
}
section{
    background-color: chocolate;
    font-size: 36px;
    text-align: justify; /*texto bien alineado, justificado*/
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width:96%;
    margin-bottom: 7%;   
}
.LOGOMDR:hover{
    transform: rotate(360deg);
}